<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <br />
      <div class="card bg-dark text-white animated fadeIn">
        <img class="card-img-top" src="/assets/avatar.JPG" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Infomation</h4>
          <strong for="">Nguyễn Quang Thái</strong> <br />
          <strong for="">thai8763@gmail.com</strong> <br />
          <strong for="">(+84)979369407</strong> <br />
        </div>
      </div>
      <!-- End infomaion -->
      <br />
      <div class="card bg-dark text-white animated fadeIn">
        <div class="card-body">
          <h4 class="card-title">Skill</h4>
          <strong>Java</strong>
          <div class="progress">
            <div class="progress-bar bg-light  " style="width:50%"></div>
          </div>
          <strong>Angular</strong>
          <div class="progress">
            <div class="progress-bar bg-light  " style="width:50%"></div>
          </div>
          <strong>Spring</strong>
          <div class="progress">
            <div class="progress-bar bg-light  " style="width:50%"></div>
          </div>
          <strong>Python</strong>
          <div class="progress">
            <div class="progress-bar bg-light  " style="width:50%"></div>
          </div>
          <strong>Photoshop</strong>
          <div class="progress">
            <div class="progress-bar bg-light " style="width:50%"></div>
          </div>
        </div>
      </div>
      <!-- End skills -->
    </div>
    <div class="col-md-9">
      <br />
      <div class="card bg-dark text-white animated slideInUp">
        <div class="card-body">
          <h4 class="card-title">Work Experience</h4>
        </div>
      </div>
      <!-- End work experience -->
      <br />
      <div class="card bg-dark text-white animated slideInUp">
        <div class="card-body">
          <h4 class="card-title">Education</h4>
        </div>
      </div>
      <!-- End work experience -->
      <br />
      <div class="card bg-dark text-white animated slideInUp">
        <div class="card-body">
          <h4 class="card-title">Cerfiticates</h4>
        </div>
      </div>
      <!-- End work experience -->
    </div>
  </div>
</div>